BasedOnStyle: LLVM
SeparateDefinitionBlocks: Always
IndentWidth: 4
TabWidth: 4
UseTab: Never
AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: Always
AlignConsecutiveMacros: AcrossEmptyLines
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BreakStringLiterals: false
